#style-chat {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 252, 252);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}